<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home"
      ><i class="fa-solid fa-graduation-cap"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/home" style="text-decoration: none">Home</a>
        <a class="nav-link" href="/privacy" style="text-decoration: none"
          >Privacy</a
        >
        <a class="nav-link" href="/about" style="text-decoration: none"
          >About Us</a
        >
        <a class="nav-link" href="/teachers" style="text-decoration: none"
          >View Tutors</a
        >
        <a class="nav-link" href="/terms" style="text-decoration: none"
          >Terms</a
        >
      </div>
      <!-- Sign in button on the right side -->
      <div class="ms-auto" style="display: flex;">
        <button style="background-color: #f96e29; color: white; padding: 5px 10px; border: none; border-radius: 3px; cursor: pointer; font-size: 12px;">
          <a href="/sign" style="color: white; text-decoration: none; display: block;">Sign in</a>
      </button>
      
      <button style="margin-left: 1rem; background-color: #f96e29; color: white; padding: 5px 10px; border: none; border-radius: 3px; cursor: pointer; font-size: 12px;">
          <a href="/logout" style="color: white; text-decoration: none; display: block;">Logout</a>
      </button>
      
        </button>
      </div>
    </div>
  </div>
</nav>
